body{
    padding-top: 56px;
    /* padding-bottom: 156px */
}

.custom-box{
    height: 350px;
}

.about-box{
    padding-top: 2.5%;
    padding-bottom: 40%;
    padding-left: 7.5%;
    padding-right: 7.5%;
    margin-left: 10%;
    margin-right: 10%;
}

.custom-footer{
    padding-left: 5%;
    padding-right: 5%;
}

.hero-box{
    height: 450px;
}

/* Remove the focus outline from the navbar toggler */
.navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}

/* Style the toggler when the navbar is expanded (not collapsed) */
.navbar-toggler:not(.collapsed) {
    border-color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
}